.navbar-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
} 

@media (max-width: 768px) {
  nav.navbar {
    background: black;
  }
}

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background:linear-gradient(45deg,#19114b,#000000); 
  color: white;
}

.breadcrumb{
  font-size:15px;
  color:#747171;
}

.ButtonNeon{
  /*background:#2cdddd;*/
  background: linear-gradient(90deg,#2cdddd,#188bc0);
  border: none;
  border-radius: 5rem;
  color: rgb(5, 56, 150);
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  transition:0.2s;
}

.ButtonNeon:hover{
  box-shadow: 0 0 7px  #2cdddd, 0 0 20px  #2cdddd, 0 0 7px  #2cdddd;
}

.help-tip{
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 990;
  text-align: center;
  background-color: #af39e6;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 10px;
  line-height: 17px;
  cursor: default;
  box-shadow: 0 0 7px #BF00FF, 0 0 20px #BF00FF, 0 0 7px #BF00FF;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
  
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: black;
  padding: 20px;
  width: 300px;
  position: absolute;
  border-radius: 3px;
  right: -7px;
  color: #FFF;
  font-size: 13px;
  line-height: 1.4;
  box-shadow: 0 0 7px  #ff375a, 0 0 20px  #ff375a, 0 0 7px  #ff375a;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:black;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}

.card-header  a:before {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.card-header.active a:before {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 transform: rotate(180deg);
}

.card-text{
  font-size:12px;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

.tableWidth{
  width: 80%;
}

.table2Width {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.table.tableWidth tr th {
  border-bottom: 0.01px solid #2e2936; /* Change the color you want to set */
}

.table.tableWidth tr td {
  border-bottom: 0.01px solid#2e2936; /* Change the color you want to set */
}

.table.table2Width tr th {
  border-bottom: 0.01px solid #2e2936; /* Change the color you want to set */
}

.table.table2Width tr td {
  border-bottom: 0.01px solid#2e2936; /* Change the color you want to set */
}

div.tab-content { 
  width: 80%;
  margin:auto;
}
  
  #graph2 path {
    stroke: white;
    stroke-width: 2;
    fill: none;
  }

  #graph path {
    stroke: white;
    stroke-width: 2;
    fill: none;
  }

  #pie-chart .path{
    stroke: white;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis text{
    fill: white;
  } 
    
  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: white;
  }

  .y.axis text{
    fill: white;
  }

  .axisWhite line{
    stroke: white;
  }
  
  .axisWhite path{
    stroke: white;
  }

  .axisWhite text{
    fill: white;
  } 
    

ul.stock_option {
    margin: 0px;
    padding: 0px;
    margin-bottom: 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

ul.stock_option li {
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;
    color: black;
    list-style-type: none;
    border: 1px solid #ddd;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul.stock_option{height:120px;}
nav ul.stock_option{overflow:hidden; overflow-y:scroll;}

#searchbar {
  /*width: 600px;*/
  width:90%;
  margin-top:2%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-repeat: no-repeat;
  font-size: 14px;
  padding: 12px 8px 12px 40px;
  border: 1px solid white;
  margin-bottom: 12px;
}

ul.stock_option li:hover {
    background: #c5e0de;
}

ul.stock_option li.checked {
    background: #59BB9C;/*08e86e*/
    color: #fff;
}

path.slice{
  stroke-width:2px;
}

polyline{
	opacity: .5;
	stroke: white;
	stroke-width: 2px;
  fill: none;
}

.line-7 {
  fill: none;
  stroke: #14ff65;/*steelblue*/
  stroke-width: 4px;
}

.line-6 {
  fill: none;
  stroke: red;
  stroke-width: 4px;
}

/*.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}*/

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /*width: 100%;*/
  margin: 0 auto;
  /*border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.625rem;*/
}

.noBorder{
  border:none;
}

.pinkBorder{
  border: 0.5px solid rgb(236, 43, 92);
}

.purpleBorder{
  border: 0.5px solid #BF00FF;
  box-shadow: 0 0 7px #BF00FF, 0 0 20px #BF00FF, 0 0 7px #BF00FF;
}

.blueBorder{
  border: 0.5px solid #00AAFF;
  box-shadow: 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 7px #2196f3;
}


.rounded-3 {
  border-radius: 3.125rem !important;
}


.rounded-1 {
  border-radius: 1rem !important;
}

.rounded-4 {
  /*border-radius: 18rem !important;*/
  border-radius: 20%
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.bg-light-pink {
  background-color: #feeff8 !important;
  
}

.bg-light-green {
  background-color: #e8f4ea!important;
}

.bg-light-purple {
  background-color: #ece6ff !important;
}

.bg-light-blue {
  background-color: #cde7f0 !important;
}

.bg-light-orange {
  /*background-color: #fff5cd !important;*/
  background-color: #FFF2E5 !important;
}

.bg-darkest {
  /*background-color: #fff5cd !important;*/
  background-color: #19114b !important;
}

.bg-dark {
  /*background-color: #fff5cd !important;*/
  background-color: #0d0f25
  !important;
}

.border-neon-summary{
  border: 0.5px solid #e41b4d;
  box-shadow: 0 0 7px #e41b4d, 0 0 20px #e41b4d, 0 0 7px #e41b4d;
}

.border-neon{
  border: 0.5px solid #0cccda;
  box-shadow: 0 0 7px #0cccda, 0 0 20px #0cccda, 0 0 7px #0cccda;
}


.bg-transparent {
  /*background-color: #fff5cd !important;*/
  background:transparent
  !important;
}

.bg-gradient-45 {
  background: linear-gradient(45deg,#2A2161,#161933);
}

.bg-gradient-225 {
  background: linear-gradient(225deg,#003d7a,#000a14);
}

.bg-pink-bold{
  background: #FF617B;
}

.bg-blue-bold{
  background:#00AAFF;
}

.bg-yellow-bold{
  background:#33B88E;
}

.bg-purple-bold{
  background:#b529ff;
  /*box-shadow: 0 0 7px #b529ff, 0 0 20px #b529ff, 0 0 7px #b529ff;*/
}

input[id="curr_age"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08E8DE;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="curr_age"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="ret_age"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08E8DE;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="ret_age"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="life"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08E8DE;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="life"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="income"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08E8DE;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="income"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="money"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08E8DE;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="money"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="savings"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08E8DE;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="savings"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="S and P 500 Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="S and P 500 Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Large Cap Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Large Cap Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Total Stock Market Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Total Stock Market Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Extended Market Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Extended Market Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Small Cap Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Small Cap Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="All-World ex-US Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="All-World ex-US Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Total International Stock Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Total International Stock Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="All-World ex-US Small Cap Index Fund"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="All-World ex-US Small Cap Index Fund"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Intermediate Term Treasury Bond Index"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Intermediate Term Treasury Bond Index"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

input[id="Total Bond Market Index"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #08e86e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[id="Total Bond Market Index"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

#navbar {
  position: absolute;
  width: 100%;
  top: 0;
  background: transparent;
  z-index: 999;
}

#navbar .navbar-toggler-icon {
  padding: 4px;
}

#navbar .logo {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

#navbar .nav-link,
#navbar .navbar-toggler-icon i {
  color: #fff;
}

#navbar .nav-link.btn {
  padding-left: 20px;
  padding-right: 20px;
}

.fixed-top {
  position: fixed !important;
}

#navbar.fixed-top {
  background: #fff;
  -webkit-box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.2);
}

ul li.nav-item a:after {
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	height: 10%;
  background: #ff375a;
  box-shadow: 0 0 7px  #ff375a, 0 0 20px  #ff375a, 0 0 7px  #ff375a;
	content: "";
	z-index: -1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
}

ul > li.nav-item.active > a {
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
  font-size: 20px;
}

ul li:hover a:after {
	opacity: 1;
  height: 10%;
}

ul li a {
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	text-transform: lowercase;
	display: block;
	padding: 0 2px;
	position: relative;
	z-index: 1;
}


