    #graph2 path {
    stroke: black;
    stroke-width: 2;
    fill: none;
  }

  #graph path {
    stroke: black;
    stroke-width: 2;
    fill: none;
  }

  #pie-chart .path{
    stroke: white;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .x.axis path {
    display: none;
  }

  .y.axis line,
  .y.axis path {
    fill: none;
    stroke: #000;
  }

ul.stock_option {
    margin: 0px;
    padding: 0px;
    /*width: 600px;*/
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

ul.stock_option li {
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;
    color: black;
    list-style-type: none;
    border: 1px solid #ddd;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul{height:200px;}
nav ul{overflow:hidden; overflow-y:scroll;}

#searchbar {
  /*width: 600px;*/
  width:50%;
  position: relative;
  background-repeat: no-repeat;
  font-size: 14px;
  padding: 12px 8px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

ul.stock_option li:hover {
    background: #ddd;
}

ul.stock_option li.checked {
    background: #888;
    color: #fff;
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.line-7 {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.line-6 {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

/*.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}*/
